extends layout

block layout-content
  div.View
    h1.Banner Michealsoft
    div.Message
      div.Title
        h3 Making the Best
        h1 IDK!
      span.Details Access the Michaelsoft Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
